---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// h1 {
//   // color:tomato;
//   text-align: center;
// }

a {
  color: #b9221f;
}
a:link {
  color: #b9221f;
}
a:visited {
  color: #b9221f;
}
a:hover {
  color: #b9221f;
}

.container-grid {
  display: grid;
  grid-template-columns: 20% 80%; /*columns widths*/
}